@import "~tc-ui/src/styles/tc-includes";

.main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  padding-top: var(--navbarHeight);
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: $screen-md - 1px) {
  .main-overlay {
    padding-top: 30px;
    min-height: calc(100vh - 50px);
    overflow-x: hidden;
  }
}

.modal {
  position: relative;
}

.modal-body {
  background: #f4f5f6;
}

.close {
  align-items: center;
  background-color: $tc-gray-05;
  border-radius: 29px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  position: absolute;
  top: 2px;
  right: 16px;
  z-index: 1;
  appearance: none;
  border: 0;

  @media screen and (max-width: 1280px - 1px) {
    background-color: transparent;
    margin-right: 10px;
    right: 0;
  }

  @media screen and (max-width: $screen-md - 1px) {
    top: 36px;
    left: 520px;
    right: auto;
  }

  &:hover {
    background-color: $tc-dark-blue-70;
  }

  .icon-x-mark {
    fill: $tc-gray-100;
    margin: -6px;

    @media screen and (max-width: $screen-md - 1px) {
      fill: $tc-gray-100;
    }
  }
}
