.navbar {
  align-items: center;
  display: flex;
  background-color: #2a2a2a;
  height: var(--navbarHeight);
  justify-content: space-between;
  padding: 0 24px;
  padding-right: 16px;
  position: relative;
  z-index: 1;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-app-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 22px;
  text-align: left;
  color: #fff;
}
.navbar-divider {
  width: 1px;
  height: 30px;
  background-color: #555;
}
.navbar-left .navbar-divider {
  margin: 0 30px;
}
.navbar-center {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
.navbar-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navbar-right .navbar-divider {
  margin: 0 15px;
}
.navbar-right .navbar-login {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
