.user-menu {
  position: relative;
}

.user-menu-handle {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

.user-menu-handler {
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  margin-right: -8px;
  outline: none;
  padding-right: 8px;
}

.user-menu-handler::after {
  background-image: url("../../assets/images/tick-down.svg");
  content: "";
  display: inline-block;
  height: 12px;
  margin-left: 12px;
  transform: translateY(1px);
  vertical-align: middle;
  width: 12px;
}

.user-menu-handler:hover,
.user-menu-handler-active {
  background-color: #000;
}

.user-menu-list {
  margin: 0;
  padding: 0;
}

.user-menu-list > li {
  list-style: none;
}

.user-menu-list > li + li {
  margin-top: 10px;
}

.user-menu-list > li > a {
  align-items: center;
  border-radius: 8px;
  color: #333333;
  display: flex;
  font-size: 14px;
  height: 40px;
  margin: 0 -4px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
}

.user-menu-list > li > a:hover {
  background-color: #f4f5f8;
}

.user-menu-popover {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 10px 50px #00000029;
  right: -4px;
  position: absolute;
  top: 37px;
  width: 286px;
  z-index: 1000;
}

.user-menu-popover-arrow {
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
  height: 0;
  right: 10px;
  top: -6px;
  position: absolute;
  width: 0;
}

.user-menu-popover-content {
  padding: 20px;
}

@media (max-width: 1023px) {
  .user-menu-handle {
    display: none;
  }

  .user-menu-handler {
    margin-right: 0;
    padding-right: 0;
  }

  .user-menu-handler::after {
    display: none;
  }

  .user-menu-popover-arrow {
    display: none;
  }

  .user-menu-popover-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 2000;
  }

  .user-menu-popover-overlay {
    background-color: #00000080;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
  }

  .user-menu-popover {
    left: 0;
    top: 0;
    position: relative;
  }
}
